<footer class="page-footer transparent z-depth-0" style="position:fixed;bottom:0;left:0;width:100%;">
    <div class="row" style="margin-bottom: 0px; width: 100%;">
        <div class="col s12 m12 white-text right-align footer-text">
            <p class="footer-text white-text" style="margin-top: 0px; margin-bottom: 0px;"><a href="/"
                                                                                              class="teal-text text-lighten-1">Shtn
                    2.0</a> &copy; 2019 <a href="https://ale32bit.me/" class="teal-text text-lighten-1">Ale32bit</a></p>
        </div>
    </div>
</footer>


<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="/js/materialize.min.js"></script>

<script>
    console.log("PnHYX");

    document.addEventListener('DOMContentLoaded', function () {
        let elems = document.querySelectorAll('.sidenav');
        let instances = M.Sidenav.init(elems, {});
    });
</script>