<footer class="site-footer">
    <div class="row" style="margin-bottom: 0px; width: 100%;">
        <div class="col s12 m12 white-text right-align" class="footer-text">
            <p class="footer-text" style="margin-top: 0px; margin-bottom: 0px;">&copy; 2018 <a href="https://ale32bit.me" style="color: #ffffff;">Ale32bit</a> / Frontend by <a href="http://merph.ovh" style="color: #ffffff;">Rph</a></p>
        </div>
    </div>
</footer>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/js/materialize.min.js"></script>
<script>$(".button-collapse").sideNav();</script>