body {
    background-image: url('/assets/bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.btn {
    font-weight: 600;
}

.rest-docs {

}

.docs-endpoint {

}

.docs-method {
    color: #ffc107;
}

.docs-type {
    font-size: 16px;
    color: #9e9e9e;
}

.docs-table {
    margin-bottom: 20px;
}

code {
    font-weight: 600;
}

.grecaptcha-badge {
    bottom: 42px !important;
}